
/********* You can start writing your CSS below this line: **********/
:root {
	--card-height: 174px;
	--card-width: 124px;
	--playmat-url: url('https://novbackstorage.blob.core.windows.net/bgs-game/playmat.png');

}


#gamefield {
	position: relative;
	height: auto;
	width: auto;
}

.myhand_wrap {
	display: flex;
}

.playmat_field {
	width: auto;
	height: auto;
	position: relative;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.onTableCards_field {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	box-sizing: border-box;
	width: auto;
	height: 100%;
	gap: 10px;
	padding-left: 10px;
}


.player_playmat {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 20px;
	background-image: var(--playmat-url);
	width: 724px;
	height: 400px;
	gap: 0.5px;
}

.player_playmat.reverse {
  transform: rotate(180deg);
}


.discardPile_field {
	margin-left: 4rem;
	width: 387px;
	height: 174px;
	background-image: url("https://novbackstorage.blob.core.windows.net/boardgame/discardpilesfield4.png");
}

.playerCardOnPlaymat {
	height: 50%;
	width: 19.94%;
	pointer-events: none;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.playerCardOnPlaymat.available {
	pointer-events: auto;
	cursor: pointer;
	background-color: rgba(255, 255, 0, 0.3);
	box-shadow:0px 0px 0px 2px gray inset;
}

.playerCardOnPlaymat.available:hover {
	position: relative;
	z-index: 1;
}

.playerCardOnPlaymat.available:hover::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}



.js-cardsontable {
	position: absolute;
	height: var(--card-height);
	width: var(--card-width);
	background-image: url("https://novbeestoragejp.blob.core.windows.net/bga-aniversus-img/sprite_sheet.png");
}

/* ---------------------- Tooltip CSS ----------------------- */

.tooltip-main {
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-family: "Arial";
  padding: 8px;
}

ul.no-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li-item {
  margin: 0.1rem 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.li-item.type {
  font-style: bold;
  color: rgb(37, 114, 161);
}

.li-item.title {
  font-weight: 800;
  text-transform: uppercase;
}

.li-item img {
  vertical-align: middle;
}

.cost-inline-image {
  display: inline-block; /* or 'inline' depending on your layout needs */
  width: 20px; /* Width of the image */
  height: 20px; /* Height of the image */
  background-image: url('https://novbackstorage.blob.core.windows.net/boardgame/Costv2.png'); /* Path to your image */
  background-size: cover; /* This ensures the image covers the entire element */
  background-position: center; /* This centers the background image */
}

.productivity-inline-image {
  display: inline-block; /* or 'inline' depending on your layout needs */
  width: 20px; /* Width of the image */
  height: 20px; /* Height of the image */
  background-image: url('https://novbackstorage.blob.core.windows.net/boardgame/Productivityv2.png'); /* Path to your image */
  background-size: cover; /* This ensures the image covers the entire element */
  background-position: center; /* This centers the background image */
}

.power-inline-image {
  display: inline-block; /* or 'inline' depending on your layout needs */
  width: 20px; /* Width of the image */
  height: 20px; /* Height of the image */
  background-image: url('https://novbackstorage.blob.core.windows.net/boardgame/Powerv2.png'); /* Path to your image */
  background-size: cover; /* This ensures the image covers the entire element */
  background-position: center; /* This centers the background image */
}

/* player_board CSS */
.playerboard-main {
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 5px;
}

.counter {
  display: inline-block;
}


/* ------------------- End of Tooltip CSS ------------------- */