
/********* You can start writing your CSS below this line: **********/
:root {
	--card-height: 174px;
	--card-width: 124px;
	--playmat-url: url('https://novbackstorage.blob.core.windows.net/bgs-game/playmat.png');

}

.none {
  display: none;
}
/* ---------------------- ---------------------- tpl css ---------------------- ---------------------- */
#gamefield {
	position: relative;
	height: auto;
	width: auto;
}

.myhand_wrap {
	display: flex;
  flex-direction: row;
}

.playmat_field {
	width: auto;
	height: auto;
	position: relative;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.onTableCards_field {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	box-sizing: border-box;
	width: auto;
	height: 100%;
	gap: 10px;
	padding-left: 10px;
}


.player_playmat {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-right: 20px;
	background-image: var(--playmat-url);
	width: 724px;
	height: 400px;
	gap: 0.5px;
}

.player_playmat.reverse {
  transform: rotate(180deg);
}

.discardPile_field {
	margin-left: 4rem;
	width: 387px;
	height: 174px;
	background-image: url("https://novbackstorage.blob.core.windows.net/boardgame/discardpilesfield4.png");
}

.playerCardOnPlaymat {
	height: 50%;
	width: 19.94%;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.playerCardOnPlaymat.available {
	pointer-events: auto;
	cursor: pointer;
	background-color: rgba(255, 255, 0, 0.3);
	box-shadow:0px 0px 0px 2px gray inset;
}

.playerCardOnPlaymat.available:hover {
	position: relative;
}

.playerCardOnPlaymat.available:hover::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.btn_container {
  display: flex; /* Use flexbox to lay out children horizontally */
  justify-content: space-around; /* Distribute space around buttons */
  align-items: center; /* Align buttons vertically */
  padding: 10px; /* Add some padding around the container */
}

.btn {
  padding: 10px 10px;
  background-color: #02519b; /* Blue background */
  color: white; /* White text */
  border: 2px solid transparent; /* Transparent border */
  border-radius: 25px; /* Fully rounded corners */
  cursor: pointer; /* Mouse pointer on hover */
  font-size: 14px; /* Text size */
  font-weight: bold; /* Bold text */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline on text */
  display: inline-block; /* Allows setting padding and margins */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Shadow effect */
  transition: all 0.3s; /* Smooth transition for all properties */
  width: 100px;
}

.btn:hover {
  background-color: #005f73; /* Darker shade of blue on hover */
  color: #ffeb3b; /* Yellow text on hover */
  border-color: #ffeb3b; /* Yellow border on hover */
  box-shadow: 0 6px 14px 0 rgba(0,0,0,0.24); /* Larger shadow on hover */
}

/* ---------------------- ---------------------- tpl css ---------------------- ---------------------- */



.js-cardsontable {
	position: absolute;
	height: var(--card-height);
	width: var(--card-width);
	background-image: url("https://novbeestoragejp.blob.core.windows.net/bga-aniversus-img/sprite_sheet.png");
}

.js-cardsontable.reverse {
  transform: rotate(180deg);
}

.js-cardsontable.available {
  pointer-events: auto;
  cursor: pointer;
}

/* ---------------------- Tooltip CSS ----------------------- */

.tooltip-main {
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-family: "Arial";
  padding: 8px;
  z-index: 1000;
}

ul.no-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li-item {
  margin: 0.1rem 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.li-item.type {
  font-style: bold;
  color: rgb(37, 114, 161);
}

.li-item.title {
  font-weight: 800;
  text-transform: uppercase;
}

.li-item img {
  vertical-align: middle;
}

.cost-inline-image {
  display: inline-block; /* or 'inline' depending on your layout needs */
  width: 20px; /* Width of the image */
  height: 20px; /* Height of the image */
  background-image: url('https://novbackstorage.blob.core.windows.net/boardgame/Costv2.png'); /* Path to your image */
  background-size: cover; /* This ensures the image covers the entire element */
  background-position: center; /* This centers the background image */
}

.productivity-inline-image {
  display: inline-block; /* or 'inline' depending on your layout needs */
  width: 20px; /* Width of the image */
  height: 20px; /* Height of the image */
  background-image: url('https://novbackstorage.blob.core.windows.net/boardgame/Productivityv2.png'); /* Path to your image */
  background-size: cover; /* This ensures the image covers the entire element */
  background-position: center; /* This centers the background image */
}

.power-inline-image {
  display: inline-block; /* or 'inline' depending on your layout needs */
  width: 20px; /* Width of the image */
  height: 20px; /* Height of the image */
  background-image: url('https://novbackstorage.blob.core.windows.net/boardgame/Powerv2.png'); /* Path to your image */
  background-size: cover; /* This ensures the image covers the entire element */
  background-position: center; /* This centers the background image */
}

/* player_board CSS */
.playerboard-main {
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 5px;
}

.counter {
  display: inline-block;
}


/* ------------------- End of Tooltip CSS ------------------- */

/* state operations css */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0px #6ea8fe;
  }
  50% {
    box-shadow: 0 0 15px #6ea8fe;
  }
  100% {
    box-shadow: 0 0 0px #6ea8fe;
  }
}

.stockitem_selected {
  border: 2px solid #6ea8fe !important;
  box-shadow: 0 0 15px #6ea8fe ! important;
  transform: scale(1.05) ! important;
  transition: transform 0.2s ease, box-shadow 0.2s ease ! important;
  animation: pulse 2s infinite ease-in-out ! important;
}


/* ------------------------------------------ Roll Dice CSS ------------------------------------------------------- */
.rolldice-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #b695b0;
  border-radius: 20px;
}



.rolldice-game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.rolldice-container {
  height: 100px; /* Assuming you want the container to be the same height as the dice */
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s; 
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #dbd1d1;
  box-shadow: inset 2px 2px #796c6c;
}


.side {
  position: absolute;
  background-color: #670a74;
  border-radius:5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.side:nth-child(1) {
  transform: translateZ(3.1em); }

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em); }

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em); }

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em); }

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em); }

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em); }

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg); }

.show-2 {
  transform: rotateX(-900deg) rotateZ(1080deg); }

.show-6 {
  transform: rotateY(-450deg) rotateZ(-1440deg); }

.show-3 {
  transform: rotateY(810deg) rotateZ(720deg); }

.show-4 {
  transform: rotateX(-810deg) rotateZ(-1080deg); }

.show-5 {
  transform: rotateX(450deg) rotateZ(-720deg); }

.two-1, .three-1, .four-1, .five-1, .six-1 {
  top: 20%;
  left: 20%; 
}

.four-3, .five-3, .six-4 {
  top: 20%;
  left: 80%; }

.one-1, .three-2, .five-5 {
  top: 50%;
  left: 50%; }

.four-2, .five-2, .six-3 {
  top: 80%;
  left: 20%; }

.two-2, .three-3, .four-4, .five-4, .six-6 {
  top: 80%;
  left: 80%; }

.six-2 {
  top: 50%;
  left: 20%; }

.six-5 {
  top: 50%;
  left: 80%; 
}




.roll-result {
  text-align: center; /* Center the text */
  font-size: 4.5rem; /* Large text for better visibility */
  color: #fff; /* White text color */
  /* Add more styles as needed */
}


/* ----------------------------------------End of Roll Dice CSS -----------------------------------------------------*/

/* -------------  tempCardMessageClass CSS ------------- */
.tempCardMessageClass {
  color: #000000; /* Choose a color that contrasts well with your background */
  align-items: center; /* Align text vertically */
  justify-content: center; /* Align text horizontally */
  text-align: center;
  font-size: 16px; /* Adjust the size as needed */
  font-weight: bold; /* Makes the text bolder */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* This adds a shadow for better readability */
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
}

.tempStockClass{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tempStockButtonClass {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green background for confirm */
  color: white; /* White text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to pointer to indicate interactivity */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Font weight */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline on text */
  display: inline-block; /* Allows setting padding and margins */
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26); /* Subtle shadow to add depth */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.tempStockButtonClass:hover,
.tempStockButtonClass:focus {
  background-color: #45a049; /* Slightly darker green on hover/focus */
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.36); /* Larger shadow on hover/focus */
  outline: none; /* Removes the outline on focus for aesthetics */
}

.tempStockButtonClass:active {
  background-color: #3e8e41; /* Even darker green when the button is clicked */
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26); /* Reverts to the original shadow size */
  transform: translateY(2px); /* Slight downward movement to simulate a button press */
}

/* -------------  End of tempCardMessageClass CSS ------------- */